body {
    width: 300px;
    padding: 20px;
    font-family:
        "Yu Gothic",
        "Meiryo",
        "Hiragino Sans",
        sans-serif;
}

h1 {
    font-size: 18px;
    padding: 3px;
    margin: 0;
}

h2 {
    font-size: 14px;
    padding: 3px;
    margin: 0;
}

p {
    margin: 5px 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

li:nth-child(odd) {
    background-color: #e0f7fa;
}

li:nth-child(even) {
    background-color: #ffffff;
}

li:hover {
    background-color: #d1e7fd;
}

.label {
    text-align: left;
    font-weight: bold;
    flex: 1;
}

.value {
    text-align: right;
}