body {
    width: 500px;
    padding: 10px;
    font-family:
        "Yu Gothic",
        "Meiryo",
        "Hiragino Sans",
        sans-serif;
}

h1 {
    font-size: 18px;
    padding: 3px;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 14px;
    padding: 3px;
    margin: 0;
    text-align: center;
}

p {
    margin: 5px 0;
}

section {
    border: 1px solid #ccc;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#two-column-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}


#two-column-container section {
    width: 48%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    transition: all 0.2s ease-in-out;
}

li:nth-child(odd) {
    background-color: #e0f7fa;
}

li:nth-child(even) {
    background-color: #ffffff;
}

li:hover {
    background-color: #d1e7fd;
}

.label {
    text-align: left;
    font-weight: bold;
    flex: 1;
    transition: opacity 0.2s ease-in-out;
}

.value {
    text-align: right;
    transition: opacity 0.2s ease-in-out;
}

footer {
    text-align: center;
}

#pomodoro-timer {
    padding: 8px;
    border: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#pomodoro-display {
    font-size: 2em;
}

#pomodoro-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    margin: 3px;
    padding: 2px;
    font-size: 1em;
    cursor: pointer;
}
